html {
  --toggle: hsl(230deg 17% 85%);
  --bggradient: none; /* url('./asets/images/bg.png'); */
  --bgcolor: none;
  --colorPrimery: #000;
  --filterHeading: #000;
  --selectBg: #fff;
  --selectText: #000;
}

html[data-theme="dark"] {
  --toggle: linear-gradient(90deg, hsl(216deg 52% 48%), hsl(51deg 100% 60%));
  --bggradient: none;
  --bgcolor: #16171f;
  --coloPrimary: #fff;
  --filterHeading: #707384;
  --selectBg: #16171f;
  --selectText: #707384;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right,
  #fcf4a3 0%,
  #e5e2a5 42%,
  #f0f0c4 79%,
  #f4f1e4 100%
   );
  transition: background 1s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "Satisfy",
    monospace;
}

.controls {
  min-height: 10px;
  padding: 1.5rem 0;
}

.app_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 84.5vh;
  padding: 3rem 1rem;
}

h1 {
  font-size: 7vw;
  font-family: "Satisfy", cursive;
  background-image: linear-gradient(60deg, #E21143, #FFB03A
  );
  background-clip: text;
  color: transparent;  
}

.app_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 2vh;
}

.nav-link {
  color: green;
  text-decoration: double;
}

.gif_container {
  text-align: center;
}

.app_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
  text-align: center;
  font-size: 14px;  
}

.app_footer > :nth-child(1) {
  color: green;
  font-family: sans-serif;
  text-decoration: double;
}

.github_icon {
  color: var(--colorPrimery);
}

.github_icon:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.recipe_container {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
  grid-gap: 1rem;
  gap: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.all_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.thumb_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0.2rem;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 1rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
  background-image: linear-gradient(to right,
  #f4f1e4 0%,
  #f0f0c4 42%,
  #e5e2a5 79%,
  #fcf4a3 100%
   );
}

h3 {
  align-items: center;
  margin-bottom: 0.2rem;
}

.detail_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail_wrapper button {
  padding: 0.5rem;
  margin-top: 1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: #c6c6c6;
  outline: none;
}

.titleinfo {
  font-family: "Satisfy", cursive;
}

.recipeinfo {
  margin: 0 25px;
  font-family: "Satisfy", cursive;
  background-image: aquamarine;
}

.recipeinfo:hover {
  background-image: linear-gradient(
    -20deg,
    #ddd6f3 0%,
    #faaca8 100%,
    #faaca8 100%
  );
}

.container-searchbar{    
    display: flex;
    align-items: center;
    justify-content: space-around;    
    font-size: 28px;
    font-family: "Satisfy", cursive;
}

.content-searchbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search-input{
    border-radius: 20px;
    padding: 14px 20px;
    border: orange;
    background-color: var(--card);
    color: #595F65;
    width: 400px;
    margin-right: 14px;
}

.search-input {
    outline: 2px solid orange;
}

.inline-inp-btn{
    margin-top: 20px;
    display: flex;
    align-items: center;   
}

.btn_change {
  cursor: pointer;
  border: none;
  line-height: 30px;
  color: coral;
  background-color: transparent;
  outline: none;  
}

.btn_change:first-of-type {
  border-right: 2px solid #74777d;
}

.btn_change:hover {  
  color: green;  
}

.container-searchbar button {
  outline: none;
}

@media screen and (max-width: 767px) {
  .thumb_container {
    min-width: 175px;
    height: 225px;
    margin: 1.25rem 0.75rem;
    padding: 1.25rem 0;
  }

  .recipe_container {
    display: flex;
    flex-direction: column;
  }

  .container-searchbar {
    display: flex;
    flex-direction: column;
    width: 100vh;
    align-items: center;
    margin: 7vh 0 5vh 0;
    /* gap: 2vh 2vw; */
    justify-content: center;
  }
}